@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
  .text-preset-1 {
    font-size: 40px;
    line-height: 120%;
    font-weight: 700;
  }

  .text-preset-2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 125%;
  }

  .text-preset-3 {
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
  }

  .text-preset-4 {
    font-size: 14px;
    line-height: 150%;
  }

  .text-preset-4-bold {
    font-size: 14px;
    line-height: 150%;
    font-weight: 600;
  }
}
